<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Teste Indra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/conversor">Conversor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historico-combustiveis">Histórico de Combustíveis</a>
        </li>
      </ul>
    </div>
  </nav>