<div class="row mb-1">
    <div class="col-12">
        <a class="btn btn-success text-white" routerLink="/usuarios/new" >
            <i class="fa fa-plus"></i> Novo Usuario
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Pesquisa</h5>
            </div>
        </div>
        <hr/>
        <form>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="pesquisaObj.nome" name="nome">
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary float-right" (click)="pesquisar()" >
                        <i class="fa fa-search"></i> Pesquisar
                    </button>
                </div>                
            </div>
          </form>
    </div>
  </div>

  <div class="card mt-1" *ngIf="rows.length > 0">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usu of rows">
                    <th scope="row">{{usu.id}}</th>
                    <td>{{usu.nome}}</td>
                    <td>{{usu.email}}</td>
                    <th><a href="javascript:;" (click)="edit(usu.id);"><i class="fa fa-pencil text-primary"></i></a></th>
                    <th><a href="javascript:;" (click)="remove(usu.id);"><i class="fa fa-trash text-danger"></i></a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>