<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Valores Compra/Venda</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-check form-check-inline">
                    <input (change)="reset()" class="form-check-input" type="radio" name="tipoPesquisa" id="tipoPesquisa1" value="municipio" [(ngModel)]="tipoPesquisa">
                    <label class="form-check-label" for="tipoPesquisa1">Por Município</label>
                </div>
                <div class="form-check form-check-inline">
                    <input (change)="reset()" class="form-check-input" type="radio" name="tipoPesquisa" id="tipoPesquisa2" value="bandeira" [(ngModel)]="tipoPesquisa">
                    <label class="form-check-label" for="tipoPesquisa2">Por Bandeira</label>
                </div>
            </div>
        </div>
        <hr/>

        <div *ngIf="tipoPesquisa == 'municipio'">
            <form>
                <div class="row mt-1">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="form-group col-12">
                            <label for="nome">Município</label>
                            <input type="text" class="form-control" id="nome" placeholder="Ex: Curitiba" [(ngModel)]="municipio" name="municipio">
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-primary float-right" (click)="page = 1; pesquisarMunicipios()">
                                <i class="fa fa-search"></i> Pesquisar
                            </button>
                        </div>     
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>

            <hr/>
            
            <div class="row mt-1" *ngIf="rowsMunicipio.length > 0">
                <div class="col-12">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Município</th>
                                <th scope="col">Produto</th>
                                <th scope="col" class="text-right">Valor médio compra (R$)</th>
                                <th scope="col" class="text-right">Valor médio venda (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let band of rowsMunicipio | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItens }">
                                <td>{{ band.municipio}}</td>
                                <td>{{ band.produto }}</td>
                                <td class="text-right">{{ band.vlrCompra | number:'':'pt-BR'}}</td>
                                <td class="text-right">{{ band.vlrVenda | number:'':'pt-BR'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event; pesquisarMunicipios()"></pagination-controls>
                </div>
            </div>
        </div>

        <div *ngIf="tipoPesquisa === 'bandeira'">
            <form>
                <div class="row mt-1">
                    <div class="col-3"></div>
                    <div class="col-6">
                         <div class="form-group col-12">
                            <label for="nome">Bandeira</label>
                            <input type="text" class="form-control" id="nome" placeholder="Ex: Ipiranga" [(ngModel)]="bandeira" name="bandeira">
                         </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-primary float-right" (click)="page = 1; pesquisarBandeiras()">
                                <i class="fa fa-search"></i> Pesquisar
                            </button>
                        </div>     
                    </div>
                    <div class="col-3"></div>
                </div>
              </form>
    
            <hr/>
            
            <div class="row mt-1" *ngIf="rowsBandeira.length > 0">
                <div class="col-12">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Bandeira</th>
                                <th scope="col">Produto</th>
                                <th scope="col" class="text-right">Valor médio compra (R$)</th>
                                <th scope="col" class="text-right">Valor médio venda (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let band of rowsBandeira | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItens }">
                                <td>{{ band.bandeira}}</td>
                                <td>{{ band.produto }}</td>
                                <td class="text-right">{{ band.vlrCompra | number:'':'pt-BR'}}</td>
                                <td class="text-right">{{ band.vlrVenda | number:'':'pt-BR'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event; pesquisarBandeiras()"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>