<div class="card">
    <div class="card-body">
        <div class="row mt-1" >
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th >Região</th>
                            <th scope="col">Revenda</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Dt. coleta</th>
                            <th scope="col" class="text-right">Vlr venda (R$)</th>
                            <th scope="col" class="text-right">Vlr compra (R$)</th>
                            <th scope="col">Un. de medida</th>
                            <th scope="col">Bandeira</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hist of rows | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItens }">
                            <th scope="row">{{hist.id}}</th>
                            <td>{{hist.revenda.nome}} - {{hist.revenda.cnpj}}</td>
                            <td>{{hist.produto.nome}}</td>
                            <td>{{hist.dtColeta | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-right">{{hist.vlrVenda | number: '':'pt-BR' }}</td>
                            <td class="text-right">{{hist.vlrCompra | number: '':'pt-BR' }}</td>
                            <td>{{hist.unidadeMedida.description}}</td>
                            <td>{{hist.revenda.bandeira}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
        </div>
        <pagination-controls (pageChange)="page = $event; pesquisar()"></pagination-controls>
    </div>
</div>