<div class="card">
    <div class="card-header">
        <h5>Novo Histórico de combustível</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
                <div class="form-group col-3">
                    <label for="dtColeta">Data coleta</label>
                    <input type="date" class="form-control" id="dtColeta" formControlName="dtColeta" name="dtColeta" [value]="historico.dtColeta | date:'yyyy-MM-dd':'UTC-3'" 
                    (ngModelChange)="historico.dtColeta = $event">
                </div>
                <div class="form-group col-2">
                    <label for="regiao">Região - Sigla</label>
                    <select class="form-control" formControlName="regiaoSigla" name="regiaoSigla" (change)="loadEstados();">
                      <option *ngFor="let regiao of regioes" [ngValue]="regiao" [selected]="regiao.id === form.value.regiaoSigla.id">{{regiao.sigla}}</option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <label for="estado">Estado - Sigla</label>
                    <select [disabled]="estados.length === 0" class="form-control" formControlName="estadoSigla" name="regiaoSigla" (change)="loadMunicipios();">
                      <option *ngFor="let est of estados" [ngValue]="est" [selected]="est.id === form.value.estadoSigla.id">{{est.sigla}}</option>
                    </select>
                  </div>
                  <div class="form-group col-5">
                    <label for="municipio">Município</label>
                    <select class="form-control" formControlName="municipio" name="municipio">
                      <option *ngFor="let mun of locais" [ngValue]="mun" [selected]="mun.id === form.value.municipio.id">{{mun.municipio}}</option>
                    </select>
                  </div>
            </div>
            <div class="row">
                  <div class="form-group col-12">
                    <label for="revenda">Revenda</label>
                    <select class="form-control" formControlName="revenda" name="revenda">
                      <option *ngFor="let rev of revendas" [ngValue]="rev" [selected]="rev.id === form.value.revenda.id">{{rev.nome}} - {{rev.cnpj}}</option>
                    </select>
                  </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                  <label for="produto">Produto</label>
                  <select class="form-control" formControlName="produto" name="produto">
                    <option *ngFor="let prd of produtos" [ngValue]="prd" [selected]="prd.id === form.value.produto.id">{{prd.nome}}</option>
                  </select>
                </div>
                <div class="form-group col-3">
                  <label for="vlrCompra">Valor de compra (R$)</label>
                  <input type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 3 }" class="form-control" id="vlrCompra" formControlName="vlrCompra" name="vlrCompra">
                </div>
                <div class="form-group col-3">
                  <label for="vlrVenda">Valor de venda (R$)</label>
                  <input type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 3 }" class="form-control" id="vlrVenda" formControlName="vlrVenda" name="vlrVenda">
                </div>
                <div class="form-group col-3">
                  <label for="unidadeMedida">Un. de medida</label>
                  <select class="form-control"  formControlName="unidadeMedida" name="unidadeMedida">
                    <option *ngFor="let tipo of unidadesMedida" [ngValue]="tipo" [selected]="tipo.value === form.value.unidadeMedida.value">{{tipo.description}}</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">
                        <i class="fa fa-save"></i> Gravar
                    </button>
                </div>                
            </div>
          </form>
    </div>
  </div>