<div class="card">
    <div class="card-header">
        <h5>Conversor de CSV - Histórico de combustíveis</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="form-group col-12">
                    <div class="progress form-group" *ngIf="progress > 0">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                        </div>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files)">
                        <label class="custom-file-label" for="customFile">Selecione o CSV</label>
                      </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success float-right" (click)="upload()" [disabled]="fileToUpload == null">
                        <i class="fa fa-file"></i> Converter
                    </button>
                </div>                
            </div>
          </form>
    </div>
  </div>