<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Processando...</p>
</ngx-spinner>

<app-navbar></app-navbar>

<div class="container" style="margin: 100px;">
    <router-outlet></router-outlet>
</div>
